@charset 'utf-8';

/*------------------------------------*\
  #USE FILES
\*------------------------------------*/
@use './assets/sass/base/reset';
@use './assets/sass/base/typography';
@use './assets/sass/utilities/variables';

/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}
body {
  font-family: contentRegular, sans-serif;
  color: variables.$dark;
}
p {
  font-size: 0.875rem;
}

/*------------------------------------*\
  #UTILS
\*------------------------------------*/

.container {
  width: 80%;
  max-width: 1320px;
  margin-inline: auto;
}
.display-none {
  display: none;
}
