@use './assets/styles/reset';
@use './assets/styles/colors';
@use './assets/styles/functions';
@use './assets/styles/typography';

html{
  scroll-behavior: smooth;
}
body {
  font-family: contentRegular, sans-serif;
  color: colors.$dark;
}
main {
 padding: 0 5%;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: contentSemiBold;
  padding-bottom: 1rem;
}
p{
  font-size:0.875rem;
}
.container {
  width: 100%;
  margin-inline: auto;
}
footer {
  margin-top: 800px;
  color: colors.$dark;
  text-align: center;
}
.navbar{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: functions.space(3);
}
.navbar-burger{
  cursor: pointer;
  background:none;
  border:none;

  &.open~.navbar-menu {
    transform: translate3d(0, 80px, 0)
  }
}
.navbar-menu{
  position: absolute;
  top:0;
  left: 0;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  transform:translate3d(0, -400px, 0);
  transition: all 1s ease-in;  
  .navbar-menu_item{
    padding-bottom: 1rem;
  }
}
.icon-bar{
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 4px;
  background-color: colors.$dark;
  transition: all 1s;

  &:nth-of-type(2){
    margin: 5px 0;
  }
}
.open .icon-bar:nth-of-type(1) {
  transform: translate3d(0,7px,0) rotate(135deg) ;
}
.open .icon-bar:nth-of-type(2){
  transform: scale(0);
}
.open .icon-bar:nth-of-type(3) {
  transform:  translate3d(0, -7px, 0) rotate(-135deg) ;
}
.menu_item-link{
  font-family: contentRegular, sans-serif;
  color: colors.$dark;
}

// -------- Section Hero -------- //

.section-hero{
  position: relative;
  display: flex;
  flex-direction: column-reverse; 
  justify-content: center;
  min-height: 85vh;
}
.section-hero::after{
  content:'';
  position:absolute;
  bottom: -160px;
  right: 40px;
  width: 180px;
  height: 180px;
  background:transparent url(./assets/images/naanifik_circle.svg) center center no-repeat;
  animation: smoothRotate 10s ease infinite;
}
.section-hero_title{  
  text-align: right;
  font-family: titleBold;
  font-size: 1.5rem;
  line-height: 1;
  color: colors.$secondary;
  .hero_title-subtitle {
    display: block;
    color: colors.$primary;
    font-size:2rem ;
  }
}
.hero_image-render{
  margin-inline: auto;
}

// -------- Section Foodtruck -------- //
.section-foodtruck{
  display:flex;
  flex-direction: column-reverse;
  margin-top:functions.space(30);
  margin-bottom:functions.space(30);

  .section-foodtruck_image{
    position:relative;
    border-left: 4px solid colors.$secondary;
    padding: 0.5rem;
    margin-bottom: functions.space(10);
    &::after,
    &::before{
      content:'';
      position: absolute;
      left:0px;
      width: 50%;
      height: 4px;
      background-color: colors.$secondary;
    }
    &::before{
      top:0;
    }
    &::after{
      bottom:0;
    }

  }
}
// -------- Section Menus -------- //
.section-menus_menu{
  margin:functions.space(10) 0;
}
.section-menus_introduction{
  max-width: 660px;
}
.menu_list-item{
  display: flex;
  flex-direction: column-reverse;
 }
.list_item-description{
  margin:functions.space(5) 0;
}
.menus_introduction-link{
  display: block;
  text-align: right;
  margin-top: functions.space(3);
  font-family: contentLightItalic;
  color: colors.$secondary;
}
.list_item-imagebox{
  border:4px solid colors.$grey;
  border-radius: 8px;

  .item_imagebox-img{
    padding: 4px;
    border-radius: 8px;
  }
}
.menus_extras-lead{
  font-family: contentSemiBold;
}
.menus_extras-list{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:functions.space(5) functions.space(0.5);
  margin: functions.space(5) 0;
}
.list_item-legend{
  padding-top: functions.space(1);
  font-size: 0.75rem;
}
.menus_productor{
  position:relative;
  margin-top: functions.space(30);
  padding: functions.space(18) functions.space(4) functions.space(9) functions.space(4);
  background-color: colors.$grey;

  &::after{
    content:'';
    position: absolute;
    top:-110px;
    left:calc(50% - 110px);
    width: 220px;
    height: 220px;
    background:transparent url(./assets/images/productor_local_logo.png) center center no-repeat;
    background-size: contain;
  }
}
.menus_productor-list{
  padding-top: functions.space(4);
}
.productor_list-item {
  p{
   font-family: contentSemiBold;
   font-size:0.75rem;
  }
  &:not(:last-child){
    padding-bottom: functions.space(1);
  }
}
// -------- Utils ---------- //
.secondary{
  color: colors.$secondary;
}

// -------- Media Queries -------- //
@media (min-width: 640px) {
   .container {
    max-width: 640px;
  }
  .section-hero_title{
    font-size: 2.5rem;
    .hero_title-subtitle {
      font-size: 3rem;
    }
  }
  .section-hero::after {
    bottom: -240px;
    right: functions.space(10);
    width: 280px;
    height: 280px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .navbar-menu_item{
    margin-right: functions.space(20);
  }
  .navbar-burger{
    display:none;
  }
  .navbar-menu{
    position: static;
    display:flex;
    flex-direction: row;
    transform: translate3d(0,0,0);
    transition: none;
    width: auto;
    .navbar-menu_item {
      padding-bottom: 0;
    }
  }
  .menu_item-link{
    &::after {
      content: '';
      display: block;
      background: colors.$secondary;
      height: 4px;
      width: 0;
      border-radius: 4px;
      transform-origin: 50% 0;
      transition: all 400ms cubic-bezier(.55, .055, .675, .19);
    }
    &:hover::after {
      width: 100%;
    }
  }
  .section-hero {
    flex-direction: row;
    align-items: center;
  }
  .section-foodtruck {
    flex-direction: row-reverse;
    .section-foodtruck_content,
    .section-foodtruck_image {
      max-width: 50%;
    }
    .section-foodtruck_content{
      padding-left: functions.space(5);
    }
  }
  .menu_list-item{
    flex-direction: row;
    justify-content: space-between;

    &:nth-of-type(2){
      text-align: right;
      margin: 5rem 0;
      flex-direction: row-reverse;
    }
  }
  .list_item-description{
    max-width: 50%;
    margin: 0;
    padding-right: 1.5rem ;
  }
  .menus_extras-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 functions.space(1);
  }
  .list_item-legend {
   font-size: 0.875rem;
  }
  .menus_productor-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .productor_list-item{
      flex:1 0 50%;
    }
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .section-hero::after {
    bottom: -240px;
    right: 80px;
    width: 380px;
    height: 380px;

  }
}
@media (min-width: 1620px) {
  .container {
    max-width: 1536px;
  }
  .section-hero_title {
    font-size: 4rem;
    .hero_title-subtitle {
      font-size: 5.5rem;
    }
  }
  .list_item-description {
     padding-right: 0;
  }
  .menus_productor {
      margin-top: functions.space(30);
      padding-left: functions.space(10);
      padding-right: functions.space(10);
  }
}

// -------- Animations -------- //

@keyframes smoothRotate {
  to{
    transform: rotate(360deg);
  }
}