$primary: hsl(217, 22%, 33%);
$primary-variant: hsl(218, 22%, 44%);
$secondary: hsl(26, 91%, 56%);
$secondary-variant: hsl(26, 91%, 64%);

$dark: hsl(218, 22%, 20%);
$light: hsl(0, 0%, 98%);
$grey: hsl(218, 22%, 90%);