$primary: hsl(221, 95%, 61%);
$secondary: hsl(29, 95%, 61%);

$dark0: hsl(240, 18%, 13%);
$dark1: hsl(237, 21%, 20%);
$dark2: hsl(236, 14%, 39%);
$dark3: hsl(237, 11%, 61%);
$dark4: hsl(233, 19%, 82%);

$light0: hsl(240, 15%, 91%);
$light1: hsl(240, 14%, 93%);
$light2: hsl(240, 13%, 95%);
$light3: hsl(240, 25%, 98%);
$light4: hsl(0, 0%, 100%);
